.list-group-item {
    padding: 15px 20px;
    border-bottom: 1px solid #3d5a80;
    :last-child {
        border-bottom: none;
    }
    span {
        line-height: 35px;
        font-size: 20px;
        cursor: pointer;
        min-width: 550px;
    }
    input {
        line-height: 35px;
        font-size: 20px;
        text-align: center;
        border: 0;
    }
    div {
        button {
            margin-right: 10px;
        }
    }
    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35px;
        height: 35px;
        margin: 3px;
        font-size: 17px;
        border: none;
        cursor: pointer;
        p {
            font-size: 10px;
            font-weight: 100;
            color: rgba(27, 33, 52, .5);
        }
    }
    .btn-cookie {
        // color: #e09f3e;
        color: rgba(128,128,128, 0.2);
        background-color: white;
        transition: 0.4s all;
    }
    .btn-cookie:hover {
        color: #e09f3e;
    }

    .btn-trash {
        // color: #e5383b;
        color: rgba(128,128,128, 0.2);
        background-color: white;
        transition: 0.4s all;
    }
    .btn-trash:hover {
        color: rgb(228, 1, 1);
    }
    .fa-star {
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        font-size: 16px;
        color: #FFD700;
        transition: 0.3s all;
        transform: translateX(30px);
        opacity: 0;
    }
}

.list-group-item.like .fa-star {
    opacity: 1;
    transform: translateX(0px);
}

.list-group-item.increase .list-group-item-label, .list-group-item.increase .list-group-item-input, .list-group-item.increase .mcoc {
    color: #e09f3e;
}
  
.list-group-item.increase .btn-star{
    color: #aeaeae;
}